header img{
  float: left;
  height: 80px;
}
header nav{
  float: right;
}
header li{
  display: inline;
  font-family: monospace;
  font-size: 0.7cm;
}
header{
  position: fixed;
  background-color:lavender;
  width: 100%;
  margin-top: 0px;
  height: 100px;
}
header a{
  text-decoration: none;
}
header a:hover{
  color: black;
}
.parllex{
  background-image: url("../img/1.jpg");
  height: 900px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section img{
  width: 300px;
  height: 300px;
}
.grid_4{
  font-family: 'Lobster', cursive;
  font-size: 0.7cm;

}
.hero{
  background-image: url("../img/2.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}
.hero p{
  font-family: 'Lobster', cursive;
  font-size: 1cm;
}
aside img{
  height: 700px;
}
aside{
  padding-top: 100px;
}
aside li{
  font-size: 0.6cm;
  font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: antiquewhite;
    margin-top: 0px;
    margin-bottom: 0px;
}
footer li{
  text-decoration: none;
  display: inline;
  padding: 10px;
}
footer a{
  text-decoration: none;
  font-size: 20px;
}
footer i{
  size: 50px;
}
footer{
  background-color: lavender;
}